# Django
SECRET_KEY=ваш_секретный_ключ
DEBUG=False

# База данных (PostgreSQL)
 # имя вашей базы данных
NAME=
#  имя пользователя PostgreSQ
USER=
# пароль пользователя PostgreSQL
PASSWORD=
# адрес сервера базы данных
HOST=
# порт, на котором работает PostgreSQL, обычно 5432
PORT=

# Stripe
# Секретный ключ из Stripe Dashboard
STRIPE_API_KEY=sk_test_ваш_ключ
# Публичный ключ из Stripe Dashboard
STRIPE_PUBLIC_KEY=pk_test_ваш_ключ

# Redis
REDIS_URL=redis://localhost:6379


# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
ALLOWED_HOSTS=localhost,127.0.0.1

