# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Django
*.log
db.sqlite3
staticfiles/
media/

# Environment
.env
.env.local
*.env.local

# IDE
.idea/
.vscode/

# Coverage
.coverage
coverage_report.txt
htmlcov/